<a class="link-back" href="/">Back</a>

<div class="error">
  <h1 class="error-title">{{title}}</h1>

  <span class="error-code">Code: <span>{{code}}</span></span>

  <span class="error-path">Path: <span></span>{{path}}</span>

  <p class="error-description">Message: {{message}}</p>
</div>
